attr==0.3.2
ConfigParser==5.3.0
cryptography==38.0.4
Cython==0.29.32
datefinder==0.7.3
dl==0.1.0
docutils==0.20.1
Flask==2.2.2
Flask_Cors==3.0.10
HTMLParser==0.0.2
ipython==8.14.0
ipywidgets==8.0.6
Jinja2==3.1.2
keyring==23.13.1
lockfile==0.12.2
matplotlib==3.6.1
numpy==1.23.4
pandas==1.5.1
Pillow
pmdarima==2.0.1
protobuf==4.23.2
PyMySQL==1.0.2
pyOpenSSL==23.2.0
python_dateutil==2.8.2
pywin32==305
railroad==0.5.0
Sphinx==7.0.1
tornado==6.3.2
trove_classifiers==2023.5.24
truststore==0.7.0
urllib3_secure_extra==0.1.0
Flask
pmdarima
datefinder
matplotlib
numpy
pandas
requests
pymysql
